.full-width-sectionHIW {
  width: 100vw;
  height: 70vh;
  background-image: url('../../assets/images/fond4.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.token-txt.hiw p{
  max-width: 20ch;
}

.token-txt span.gold{
  color: rgba(116, 166, 255, 1);
  text-transform: initial;
}

.banner-background.hiw {
  height: 13vh;
}

.banner.hiw {
  position: absolute;
  top: 350vh;
  width: 100vw;
  height: 13vh;
  background-image: url(../../assets/images/bandeau.png);
  background-size: cover;
  background-position: center;
  overflow-y: hidden;
}

.tech-button.hiw {
  padding: 20px 30px;
}

.tech-button.hiw img {
  width: 45px;
  height: 45px;
}

.arrow {
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 10px;
  border-color: transparent transparent transparent white;;
  margin-left: 10px;
}

@media screen and (max-width: 1023px) {
  .full-width-sectionHIW{
    display: none;
  }

  .banner.hiw{
    display: none;
  }
}